div#content.content h1:not(:first-child),
div#content.content h2:not(:first-child),
div#content.content h3:not(:first-child),
div#content.content h4:not(:first-child),
div#content.content h5:not(:first-child),
div#content.content h6:not(:first-child) {
  margin-top: 10rem;
}

div#content.content > main {
  margin-bottom: 10rem;
}

td.pointer {
  background-color: hsla(0, 0%, 0%, 20%);
}
